<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/fd1cb3abbc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/styles/index.css">
    <title>Document</title>
    
</head>
<body>
    <header>
        <div class="center">
            <nav class="menu-wrapper">
                <i class="fa-solid fa-bars fa-bars-home"></i>
                <div class="container">
                    <ul class="itens-menu">
                        <li class="itemSolo"><a href="/">HOME</a></li>
                        <li class="itemSolo"><a href="/admin/login">ADMIN</a></li>
                    </ul>   
                </div>
            </nav>
           
            <div class="logo">
                <h1><a href="/">New<strong>News</strong></a></h1>
            </div>

            <div class="form-busca">
                <form action="/">   
                    <label for="input">
                        <i class="fa-solid fa-magnifying-glass"></i>    
                    </label>
                    <input name="busca" type="text" placeholder="Buscar" id="input" />
                </form>
            </div>

        </div>
    </header>
    <script>
        const menu = document.querySelector('.fa-bars-home')
        menu.addEventListener('click',()=>{
            
            let asideContainer = document.querySelector('.container');
            asideContainer.classList.toggle('mostrar');


            const itenSolo = document.querySelectorAll('.itemSolo')
            itenSolo.forEach((elemento)=>{
                elemento.addEventListener('click',()=>{
                    itensMenu.classList.toggle('mostrar');
                })
            })
        })
    </script>