@import './scss/header';
@import './scss/home';
@import './scss/footer';
@import './scss/single';
@import './scss/busca';

@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
:root{font-size: 62.5%;}
.center{display: flex;}



