<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/fd1cb3abbc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/styles/index.css">
    <title>admin-painel</title>
</head>
<body>

    <section class="section-publicar-noticia">
        <div class="header-fomr-publicar">

            <nav class="menu-wrapper">
                <i class="fa-solid fa-bars fa-bars-adm"></i>
                <div class="container">
                    <ul class="itens-menu">
                        <li class="itemSolo"><a href="/">HOME</a></li>
                    </ul>   
                </div>
            </nav>

            <h1>CADASTRAR NOTICIA</h1>
        </div>

        <form enctype="multipart/form-data" method="post" action="/admin/cadastro" class="form-publicar">
            <input type="text" name="titulo_noticia" placeholder="Titulo da Noticia" required>
            <input type="file" name="arquivo" required>
            <input type="text" name="slug_cadastro_noticia" placeholder="Slug da Noticia" required>
            <input type="text" name="categoria_noticia" placeholder="Categoria da Noticia" required>
            <input type="text" name="autor_noticia" placeholder="Autor da Noticia" required>
            <textarea name="noticia" placeholder="Noticia" required></textarea>
            <input type="submit" name="acao" value="Cadastrar">
        </form>

    </section>

    <section class="section-lista-noticia">
        <div class="titulo-lista-noticia">
            <h2>LISTA DE NOTICIAS</h2>
        </div>

        <div class="form-busca">
            <form>
                <label for="input">
                    <i class="fa-solid fa-magnifying-glass"></i>    
                </label>
                <input name="busca" type="text" placeholder="Buscar" id="input" />
            </form>
        </div>


        <div class="div-lista-noticias">
            <ul>
                <li>

                    <% for (let i = 0; i < posts.length; i++) { %>
                    <div class="lista-noticia-single">
                        <p><strong>TITULO: </strong><%= posts[i].titulo %></p>
                        <div class="links-acao-noticia-single">
                            <a href="/admin/editar/10" title="EDITAR"><i class="fa-solid fa-pen"></i></a>
                            <a href="/admin/deletar/<%= posts[i].id %>" title="EXCLUIR"><i class="fa-solid fa-trash"></i></a>
                        </div>
                    </div>
                    <% } %>
                </li>
            </ul>
        </div>


    </section>

    <script>
        const menu = document.querySelector('.fa-bars-adm')
        menu.addEventListener('click',()=>{

            let asideContainer = document.querySelector('.container');
            asideContainer.classList.toggle('mostrar');

            

            const itenSolo = document.querySelectorAll('.itemSolo')
            itenSolo.forEach((elemento)=>{
                elemento.addEventListener('click',()=>{
                    itensMenu.classList.toggle('mostrar');
                })
            })
        })
    </script>
</body>
</html>